<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title> Rango Application </title>
	</head>
	<body>
        {% if user.is_authenticated %}
		<h1> Rango says ...
		<strong>Hello {{ user.username }} ! </strong> </h1><br/>
        Base Dir >> <strong>{{ basedir }} </strong> <br/>
        Project Dirs >> <strong>{{ projectdir }} </strong> <br/>
        Template Dirs >> <strong>{{ templatedir }} </strong> <br/>
        Media Dir >> <strong>{{ mediadir }} </strong> <br/>
        {% else %}
        <h1> Rango says ...
        <strong>Hello World ! </strong> </h1> <br/>
        {% endif %}
        {% if categories %}
        <h2> Top 5 Categories </h2>
        <ul>
            {% for category in categories %}
            <li> <a href= "/rango/category/{{ category.url }}" > {{category.name}} </a>  </li>
            {% endfor %}
        </ul>
        {% else %}
        <strong> There are no categories in this moment.</strong> <br/>
        {% endif %}
        {% if pages %}
        <h2> Top 5 Pages </h2>
        <ul>
            {% for page in pages %}
            <li> <a href= "{{ page.url }}" > {{page.title}} </a>  </li>
            {% endfor %}
        </ul>
        {% else %}
        <strong> There are no pages in this moment.</strong> <br/>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="/rango/add_category/"> Add a new Category</a> <br/>
        <a href="/rango/restricted/"> Restricted Content</a> <br />
        <a href="/rango/logout/"> Logout </a> <br />
        <!-- <a href="/accounts/logout/"> Logout </a> <br /> -->
        {% else %}
        <a href="/rango/register/"> Register Here </a> <br />
        <a href="/rango/login/"> Login form </a> <br />
        <!-- <a href="/accounts/register/"> Register Here </a> <br />
        <a href="/accounts/login/"> Login form </a> <br /> -->
        {% endif %}
        <img src="{% static "rango/images/rango3.jpg" %}" alt="Rango image" height = "300" width = "300"/><br />
        <a href="/rango/about">About Page </a><br />
	</body>
</html>


