{% extends "base2.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %} About View  {% endblock %}
{% block content %}
<div class="page-header">
    <h1> Rango says ...  </h1>
</div> <!-- /page-header -->
<div>
    <strong> Here is the about page   </strong> <br/>
    <p> <strong> You have visited this site on  : {{ visits }} occasion(s) </strong></p>
    <img src="{% static "images/mii2.jpg" %}" alt="Mii image" height = "300" width = "300"/>
</div>
<a href= "{% url 'index' %}"> Index Page <a/>
<br />
<p>This is a example</p>
<button id="about-btn1" onClick="alert ('You clicked the button using JavaScript.');">
    Click Me - I run JavaScript
</button>
<br/>
<p>This is another example</p>
<button id="about-btn2"> Click Me - I'm Javascript on Speed</button>
<br />
<br />
<br />
<div id="msg">Hello</div>

{% endblock content %}


