{% extends "base2.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %} Add Page View  {% endblock %}
{% block content %}
{% if category %}
        <form role="form" id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">
            <h2 class="form-signin-heading"> Add Page To <a href="/rango/category/{{category.slug}}/">{{ category.name }}</a></h2>
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
              <h3>  {{ field.errors }} </h3>
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <br/>
            <br/>
            <button class = "btn btn-primary" type="submit" name="submit">Create a new Page</button>
        </form>
{% else %}
    <p> This category {{ category.name }} does not exists. </p>
{% endif %}
{% endblock content %}

