{% extends "base2.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %} Rango Application - Add a Category View   {% endblock %}
{% block content %}
<div class="container">
    <form id = "category_form" method="post" action="/rango/add_category/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
              <h3>  {{ field.errors }} </h3>
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <br/>
            <br/>
            <input type= "submit" name="submmit" value="Create a Category" />
        </form>

</div> <!-- /container -->
{% endblock content %}
