{% extends "base2.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title  %} Index View {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="page-header">
    <div class="panel panel-primary">
            <div class="panel-heading">
                <h1> Rango says ... <strong>Hello {{ user.username }} ! </strong> <br/> </h1>
             </div>
    </div>
{% else %}
        <p>
        <h1> Rango says ... <strong>Hello world ! </strong> <br/> </h1>
        <a class="btn btn-lg btn-primary" href="{% url 'registration_register' %}"> Register Here</a> &nbsp;
        <a class="btn btn-lg btn-success" href="{% url 'auth_login' %}"> Sign in Here</a>
        </p>
 {% endif %}
</div> <!--page header -->
<!--
<div class="container">
    <ul>
    <li>Base Dir >> <strong>{{ basedir }} </strong> <br/></li>
    <li>Project Dirs >> <strong>{{ projectdir }} </strong> <br/></li>
    <li>Template Dirs >> <strong>{{ templatedir }} </strong> <br/></li>
    <li>Media Dir >> <strong>{{ mediadir }} </strong> <br/></li>
 </ul>
</div>
-->
<div class="row placeholders">
    <div class="col-xs-6 col-sm-6 placeholder">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> Top 5 Categories </h3>
            </div>
        </div>
        {% if categories %}
            <ul class="list-group" >
                {% for category in categories %}
                <li class="list-group-item"> <a href= "{% url 'category' category.slug %}" > {{category.name}} </a>  </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong> There are no categories in this moment.</strong> <br/>
        {% endif %}
    </div> <!-- col-xs-12 col-sm-6 placeholder -->

    <div class="col-xs-6 col-sm-6 placeholder">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> Top 5 Pages </h3>
            </div>
        </div>
        {% if pages %}
            <ul class="list-group">
                {% for page in pages %}
                <li class="list-group-item"> <a href= "{{ page.url }}" > {{page.title}} </a>  </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong> There are no pages in this moment.</strong> <br/>
        {% endif %}
    </div> <!-- col-xs-12 col-sm-6 placeholder -->
    </div> <!-- row placeholders -->
<a href="{% url 'add_category' %}"> Add a new Category</a> <br/>
<a href="{% url 'restricted' %}"> Restricted Content</a> <br />
<a href="{% url 'about' %}">About Page </a><br />
<img src="{% static "images/rango3.jpg" %}" class="img-responsive" alt="Rango image" height = "300" width = "300"/><br />
<p> visits: {{ visits }}</p>

{% endblock content %}


